In [2]:
import pandas as pd
import numpy as np

A correlation coefficient is a number between -1 and 1 that tells you the strength and direction of a relationship between variables

__1/ Correlation coefficient value: 1__

Correlation type: Perfect positive correlation

Meaning: When one variable changes, the other variables change in the same direction.

__2/ Correlation coefficient value:0__

Correlation type: Zero correlation

Meaning:There is no relationship between the variables.

__3/ Correlation coefficient value: -1__

Correlation type: Perfect negative correlation

Meaning: When one variable changes, the other variables change in the opposite direction.

In [4]:
df = pd.DataFrame([(1, 1), (2, np.nan), (np.nan, 3), (4, 4)],
                  columns=['dogs', 'cats'])
df

   dogs  cats
0   1.0   1.0
1   2.0   NaN
2   NaN   3.0
3   4.0   4.0

__min_periods__: int, optional

Minimum number of observations required per pair of columns to have a valid result. Currently only available for Pearson and Spearman correlation.

In [5]:
df.corr(min_periods=3)

      dogs  cats
dogs   1.0   NaN
cats   NaN   1.0

__method__: {‘pearson’, ‘kendall’, ‘spearman’} or callable
Method of correlation:

pearson : standard correlation coefficient

kendall : Kendall Tau correlation coefficient

spearman : Spearman rank correlation

callable: callable with input two 1d ndarrays, and returning a float. Note that the returned matrix from corr will have 1 along the diagonals and will be symmetric regardless of the callable’s behavior

In [3]:
def histogram_intersection(a, b):
    v = np.minimum(a, b).sum().round(decimals=1)
    return v
df = pd.DataFrame([(.2, .3), (.0, .6), (.6, .0), (.2, .1)],
                  columns=['dogs', 'cats'])
df

   dogs  cats
0   0.2   0.3
1   0.0   0.6
2   0.6   0.0
3   0.2   0.1

In [7]:
df.corr(method=histogram_intersection)

      dogs  cats
dogs   1.0   0.3
cats   0.3   1.0